@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

$ff-primary: 'Quicksand', sans-serif;
$bg-color: #14153d;
$clr-primary: #f1f1f1;
$clr-free-seat: #a5ceae;
$clr-occupied-seat: #c52a2a;
$clr-selected-seat: #2169c7;
$seat-height: 12px;
$seat-width: 15px;
$seat-radius: 10px;
$seat-margin: 3px;
$path-width: 18px;